.outer_content_container {
  width: 100%;
}
.content_container {
  width: 80%;
  padding: 1px 0;
  background-color: #29abe2;
  margin: 0 auto;
}
.front_image {
  background-image: url(background.jpg);
  margin: 1px 0 0;
  width: 100%;
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    margin: -30px 0 40px;
  }
  img {
    position: absolute;
    top: 700px;
    left: 47%;
    width: 7%;
  }
}
.contact_bar {
  background-color: rgba(255, 255, 255, 0.65);
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
}
.contact_phone {
  text-align: left;
}
.contact_email {
  text-align: right;
}
.title_container {
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  top:  265px;
  margin: 0 auto;
  padding: 10px 80px;
  margin: 0 0 0 50%;
  left: -424px;
}
// About Section
.section_title {
  font-size: 24px;
  letter-spacing: 2px;
  p {
    font-size: 12px;
  }
}
.about_the_company {
  margin: 40px 0;
}
//TAB STUFF

.tab-wrapper {
  margin: 60px auto;
}
.tab-menu {
  float: left;
  padding: 0 1.5rem 0 0;
  margin: 0;
  box-sizing: border-box;
}
.tab-menu li {
  position:relative;
  background-color: #fff;
  color:#bcbcbc;
  display: inline-block;
  padding: 20px 30px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
  width: 100%;
  box-sizing: border-box;
}

.tab-menu li:hover {
  color:#464646;
}

.tab-menu li.active {
  color:#464646;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:#464646;
}

.tab-content>div {
  box-sizing:border-box;
  width: 100%;
  min-height:200px;
  float: left;
  color: #fff;
  h2 {
    font-size: 36px;
    letter-spacing: 2px;
  }
  p {
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.line {
  position:absolute;
  width: 0;
  height: 7px;
  background-color: #7CD7FD;
  top: 0;
  left: 0;
}
.line2 {
  position:absolute;
  width: 0;
  height: 7px;
  background-color: #7CD7FD;
  bottom: 0;
  left: 0;
}

// Our work / Gallery
.photo_slider {
  border-top: 1px solid #fff;
  color: #fff;
}
.wrap {

}

.owl-prev {
  float: left;
}

.owl-next {
  position: absolute;
  right: 0;
}

// Services Overview
.services_summary {
  padding: 30px 1.5rem;
  margin: 40px 0 ;
  background-color: #29abe2;
  color: #fff;
  border-top: 1px solid #fff;
  p {
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 300;
  }
}
.services_list {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 300;
    li {
      color: rgba(0,0,0,0.5);
      padding: 15px 20px;
      text-align: center;
    }
  }
}
.left_list li:nth-child(odd) {
  background-color: rgba(148, 192, 204, 1);
}
.left_list li:nth-child(4n + 1) {
  background-color: #f6f4f1;
}
.right_list li:nth-child(odd) {
  background-color: #f6f4f1;
}
.right_list li:nth-child(4n + 1) {
  background-color: rgba(148, 192, 204, 1);
}
#panel, #panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9, #panel10, #panel11, #panel12, #panel13, #panel14, #panel15, #panel16 {
  display: none;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
}
#flip {

}
// Contact Section
.contact_pane {
  background-color: #f6f4f1;
  padding: 30px 30px;
  margin: 40px 0;
  div {
    float: left;
    padding: 0 5%;
    margin: 0 -1px 0 0;
  }
  input {
    width: 100%;
    border: 0;
    padding: 20px 0;
    background-color: #f6f4f1;
    &:focus {
      outline-offset: -50px;
    }
  }
  textarea {
    width: 100%;
    border: 0;
    background-color: #f6f4f1;
    border-top: 1px solid #94c0cc;
    padding: 20px 0 0;
    margin: 10px 0 0;
    &:focus {
      outline-offset: -200px;
    }
  }
}
.form_name {
  border-right: 1px solid #94c0cc;
}
.submit_button {
  text-align: center;
  button {
    border: 0;
    background-color: #94c0cc;
    padding: 10px 20px;
    color: #f6f4f1;
  }
}
/* back to top */
.to_top {
  padding: 40px 0;
  div {
    text-align: center;
    img {
      width: 7%;
    }
  }
}

/*Footer*/
.footer {
  padding: 20px 0 30px;
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      float: left;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      color: #94c0cc;
    }
  }
}
