.footer 
  %ul
    %li.split_33.column 
      Contact No. 
      %a{:href => "07987 987 987"}
        07987 987 987
    %li.split_33.column 
      %a{:href => "http://www.cd2solutions.co.uk"}
        &copy; CD2 Solutions
    %li.split_33.column
      Contact Email. 
      %a{:href => "Contact@handover-cleaning.co.uk"}
        Contact@handover-cleaning.co.uk